* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
    font-size: 20px;
    line-height: 19px;
    font-family: arial, sans-serif;
    color:  #FFFFFF;
    min-width: 956px;
    overflow-x:hidden;
}

body h2{
    font-size: 15px; margin-top: 10px;
}


.header { padding: 32px 32px 16px;  }

section { padding: 0 32px 27px; }
.last-section { border-radius: 0px 0px 5px 5px; -moz-border-radius: 0px 0px 5px 5px; -webkit-border-radius: 0px 0px 5px 5px; -o-border-radius: 0px 0px 5px 5px; }
.cols { background: url(images/cols.png) repeat-x 0 bottom; }
.cols h3 { padding-bottom: 14px;  }
.cols p { padding-bottom: 10px;  }
.cols .col { width: 212px; float: left; }
.cols .col+.col { padding-left: 14px; }
.cols .col a.col-btn { background: url(images/col-btn.png) repeat 0 0; float: left; border: 1px solid #afd1f6; height: 21px; line-height: 21px; text-align: center; padding: 0 15px; color: #324957; 
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px;
	text-shadow: rgba(255,255,255,0.9) 1px 1px 1px;
}

.cols .col a.col-btn:hover { background-position: 0 bottom; text-decoration: none; }

.box { background: url(images/box.png) repeat 0 0; padding: 19px 32px 29px 32px; position: relative; height: 100%;  }
.box span.shadow-t { width: 956px; height: 11px; background: url(images/box-shadow-t.png) no-repeat 0 0; position: absolute; top: 0; left: 0; display: block;}
.box span.shadow-b { width: 956px; height: 11px; background: url(images/box-shadow-b.png) no-repeat 0 0; position: absolute; bottom: -4px; left: 0; display: block;}
.box h3 { float: left; }



.footer { padding: 18px 0 64px 0;  }
.footer-nav { float: left; }
.footer-nav ul { list-style: none; list-style-position: outside; font-size: 11px;  }
.footer-nav ul li { float: left; padding-right: 33px; }
.footer-nav ul li a { color: #a6abb2; }
.footer-nav ul li a:hover { color: #3995d6; text-decoration: none; }
.footer p.copy { float: right; font-size: 11px; color: #a6abb2; }
.footer p.copy a { color: #8c929b; text-decoration: underline; }
.footer p.copy a:hover { color: #3995d6; text-decoration: none; }

.mensajeError{
	display:none;

}

.caracteristicas { padding: 18px 0px 64px 0px;  }
.caracteristicas-nav { padding-left: 1px; }
.caracteristicas-nav ul {list-style-position: outside; font-size: 15px;  }
.caracteristicas-nav ul li {  padding-right: 3px; }
.caracteristicas-nav ul li { color: #a6abb2; }

.caracteristicas-sec {color: #293237; line-height: 21px; font-weight: normal;}
.caracteristicas-sec h3 {font-size: 19px;}
.caracteristicas-sec h4 {font-size: 15px;padding-top:10px; }
.caracteristicas-sec div {padding: 1px 0px 0px 0px; position: relative; height: 100%;}

.caracteristicas-sec .widget2 { float: left; width: 380px; }
.caracteristicas-sec .widget3 { float: left; width: 250px; background: #fff;  padding: 1px; }

.caracteristicas-sec .widget-des { float: left; width: 500px; }
.caracteristicas-sec .widget-des3 { float: left; width: 600px; position: relative; top:-15px; left:30px;}

.inputClass {
    font-size:17px;

    height: 30px;
    width: 300px;
}

.cols2 {  }
.cols2 h3 { margin-top: 10px; margin-bottom: -20px;}
.cols2 p { padding-bottom: 0px;  }
.cols2 img {width:200px; height:130px; border: 1px solid #d6dae1; border-radius: 5px; -moz-border-radius: 0px; -webkit-border-radius: 5px; -o-border-radius: 5px; margin: 0px;}
.cols2 .col { width: 212px; float: left; }
.cols2 .col+.col { padding-left: 14px; }


.vermasdesc {display: none;}
.menuico img {width: 20px; height:20px; position: relative; top:5px; display:none;}
.menuico_home img {width: 20px; height:20px; position: relative; top:5px;}

.imgbox {border: 2px solid #d6dae1; border-radius: 5px; -moz-border-radius: 0px; -webkit-border-radius: 5px; -o-border-radius: 5px; margin: 0px;}

.dialogInfo {
    display:none; 
    background: #3995d6;   
    color:#fff;
    border-radius: 5px 5px  5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px  5px 5px; -o-border-radius: 5px 5px  5px 5px;
    padding:10px;
    margin-top:20px;
}

.dialogType {
    color:#3995d6;
    border-radius: 5px 5px  5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px  5px 5px; -o-border-radius: 5px 5px  5px 5px;;
}

.personal{
    margin-top: -80px;
    float: left;
    font-size: 10; 
    width:300px;
    border-radius: 5px ; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px;
    border: 1px solid #d6dae1;
    margin-left: 2px;
    margin-right: 2px;
}
.personal h1{
    background: #d6dae1;
    font-size: 10; 
}

.personal a{
font-weight: bold; float: right; margin-right: 10px;
}

.menusection{
    margin-bottom: 11px;
}

.ultimoLlamado {
    background:#FBEFEF ;width: 200px; height: 85px; border:1px solid; border-right:3px solid; border-bottom:3px solid; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px;
}

.ultimoLlamado p{
    color: #3995d6; font-size: 90px; line-height: 85px; font-weight: normal;
    text-align: center;
}

.noreport{
    background: #3995d6; color:#FFFFFF; font-size: 15px; font-weight: normal;  text-align: center; margin-top:90px;
    border:1px solid; border-radius: 10px ; -moz-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px;
}


.infoCuadro{
    border:0px solid; width: 300px; height:230px; left: 580px; position: relative; margin-top: -259px;
}

.menuPrincipal{
    font-size:40px;
    line-height: 40px;
}

.excel{
    background-image: url(images/excel.png); background-position:0px 0px;
}


#atendiendo{
    font-size: 16px;
}


.fila {  
    position: relative; 
    float: left;  

    border-radius: 5px; -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; -o-border-radius: 5px; 
    width: 250px; 
    font-size: 15px;
    margin-top: 39px;
}

.fila h2 {text-align: center; font-size: 25px; margin-top: 35px;}

#idImprimir{
    position: absolute;
    padding-top: 15px; 
}

#idImprimir p{
    color:  #FFFFFF;
    font-size: 18px; margin-top: 5px;
    
}